<!DOCTYPE html>
{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}

<main>
    <div class="d-flex flex-nowrap"style="margin-bottom:170px">
        <div class="d-flex flex-column flex-shrink-0 p-3" style="background-color: #06283D;width: 280px; margin-top:150px; margin-left:50px;">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item text-white">
                    <a href="#" class="nav-link">Our Company</a>
                </li><hr class="text-white">
                <li>
                    <a href="#" class="nav-link text-white">Our Mission</a>
                </li><hr class="text-white">
                <li>
                    <a href="#" class="nav-link text-white">Our Process</a>
                </li><hr class="text-white">
            </ul>
        </div>
    </div>
</main>

{% endblock %}