#hero {
    height: 60vh;
    width: 100%;
    background: #f5ba17;
    display: "flex";
    align-items: "center";
    justify-content: "center";
}

#hero::after {
    width: 100%;
    height: 90%;
    content: '';
    position: "absolute";
    z-index: 10;
    top: 16%;
    left: 0;
    background: rgba(0, 0, 0, 0.5)
}

#hero video {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 16%;
    left: 0;
    z-index: 5;
    object-fit: cover;
    font-family: 'object-fit: cover';
}

#hero .texture {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 16%;
    left: 0;
    z-index: 15;
    background: url('./texture.png');
}

#hero .caption {
    position: relative;
    z-index: 20;
    text-align: center;
    color: #ffffff;
}

#hero .caption h1 {
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0.5rem;
}

#hero .caption h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

#chicks {
    width: 200px; 
    height: 200px; 
    z-index:2; 
    position: "absolute"; 
    margin-left:80px;
}

#chickens {
    width:150px; 
    height:150px; 
    z-index:3; 
    position: "absolute";
    margin-top: -120px;
    margin-left:200px;
}

#eggs {
    width:180px;
    height:180px;
    z-index:1; 
    margin-top: -100px;
}

#quality__text {
    font-size: 18px;
}

#quality__img{
    padding: 10px;
    display: "-ms-inline-flexbox";
    align-items: "center";
    justify-content: "space-between";
}

.pyramid {
    width: 350px;
    display: flex;
    flex-direction: column;
    height: 350px;
    -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    margin-left: 280px;
    margin-top: -120px;
  }

  .pyramid__section {
    flex: 1 1 100%;
    background-color: rgb(150, 149, 149);
    margin-bottom: 2px;
    text-align: center;
    color: white;
    font-weight: bold;
  }
  
  .pyramid__section:nth-of-type(even) {
    background-color: rgb(109, 104, 104);
  }

.client {
    width: 100%;
    height: 100%;
    background: #f5f4f7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #faf9fa, #fbfbfc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbf8fc, #f8f7fa);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.t-card {
    padding: 1.8125rem 1.125rem;
    background-color: white;
    border-radius: 1.25rem;
    color: #14425f;
    height: auto;
}

.add-input {
    width: 68%;
}

.name {
    color: orange;
  }
  
  .work {
    font-weight: bold;
    font-size: 15px;
  }
  
  .about span {
    font-size: 13px;
  }
  
  .v-profile {
    color: orange;
    cursor: pointer;
  }
  
  .well
  {
     padding: 35px;
     padding-left: 30px;
     box-shadow: 0 0 10px #666666;
     margin: 4% auto 0;
     width: 350px;
  }

  .input-group-addon
  {
      background-color: #ffde6c;
      color: #d17d00;
  }

  .box {
    -webkit-box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
    -moz-box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
    box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
  }
  
  .col-md-3 {
    margin-top: 10px;
  }

  #basket_badge{
    z-index: 10;
    top: -50px;
    left: 0;
    right: -20px;
  }

@media screen and (min-width:768px) {
    #hero .caption h1 {
        font-size: 2.5rem;
    }
    #hero .caption h2 {
        font-size: 1.75rem;
    }
}

@media screen and (min-width:992px) {
    #hero .caption h1 {
        font-size: 3rem;
    }
    #hero .caption h2 {
        font-size: 2rem;
    }
}

@media screen and (min-width:1200px) {
    #hero .caption h1 {
        font-size: 4rem;
    }
    #hero .caption h2 {
        font-size: 2.5rem;
    }
}

.basket-qty{
    color: #fff;
    background: #d42114;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    height: 15px;
    width: 14px;
    position: absolute;
    box-sizing: content-box;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1px;
    right: 10px;
}

.basket-btn{
    position: relative;
}

.basket-btn:hover, .basket-btn:focus, .basket-btn:active, .basket-btn.active{
    color:#d42114;
    transition-duration: 0.4s;
    background-color: #fff;
}